{% extends 'base.html' %}

{% block title %}アカウント作成{% endblock %}
{% block h1 %}アカウント作成{% endblock %}

{% block content %}
  <form method="post" class="p-4 m-4 bg-light border border-success rounded form-group">
    {% csrf_token %}
    {{ form.as_p }}
    {% for field in form %}
      {% if field.errors %}
        <span class="mb-2 small text-danger d-block text-start">{{ field.errors|join:", " }}</span>
      {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-success m-2">アカウント作成</button>
  </form>
{% endblock %}
